STORAGE_CONNECTION_STRING=
ASSIGNMENTS_TABLE_NAME=
ATTEMPTS_TABLE_NAME=
LAB_QUEUE_NAME=
LAB_FILE_SHARE_NAME=
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
AZURE_LOCATION=
ACR_PASSWORD=
BLOB_CONNECTION_STRING=
BLOB_CONTAINER_MATERIALS=
GITHUB_TOKEN=